<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 footer-copyright">
                <p>
                    <i class="fa fa-map-marker" aria-hidden="true"></i> Ubicacion del lugar: Aliquam ut placerat sapien, sit amet pretium enim. Sed eget nibh at est lobortis tempor sed id enim. Cras tellus nunc, 
                </p>
                &copy; Rojas Gonzáles & Asociados, WebApp by <a href=""
                    title="Desarrollador-Programador">Alexander Peralta</a>
            </div>
            <div class="col-sm-3 footer-social">
                <div>
                    <a href="https://www.facebook.com/SoRandxm/">
                        <i class="fa fa-facebook" title="www.facebook.com/SoRandxm"></i>
                        <iframe allowtransparency="true" frameborder="0" scrolling="no" 
                            src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FSoRandxm&amp;width=200&amp;layout=button_count&amp;action=like&amp;show_faces=true&amp;share=false&amp;height=21">
                        </iframe>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>