<!-- Top menu -->
<nav>
	<a class="scroll-link" href="#top-content"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>
	<a class="scroll-link" href="#what-we-do">Servicios</a>
	<a class="scroll-link" href="#process">Contactanos</a>
	<!--<a class="scroll-link" href="#portfolio">Portfolio</a>-->
	<!--<a class="scroll-link" href="#testimonials">Testimonials</a>-->
	<a class="scroll-link" href="#team">Acerca de</a>
	<a class="scroll-link" href="#contact">Consulta</a>
	<div class="hide-menu">
		<a href=""><i class="fa fa-bars"></i></a>
	</div>
</nav>
<div class="show-menu">
	<a href=""><i class="fa fa-bars"></i></a>
</div>